* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#i8oln2 {
    en: 1;
}

#iek9pz {
    width: 805px;
    en: 1;
}

#i7l21b {
    height: 95px;
    en: 1;
    color: #ffffff;
}

#ikftxq {
    width: 412.8px;
    en: 1;
}

* {
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.c9783 {
    bottom: 10%;
    right: 2%;
}

.counter.mb-0.text-nowrap {
    font-size: 45px;
}

.row.gy-10.gy-md-13.gy-lg-0.align-items-center {
    padding: 0 0px 0px 0px;
    float: none;
    position: static;
    text-align: left;
}

.container.pt-12.pt-md-14.pb-14.pb-md-16 {
    background-color: #041348;
}

.wrapper.bg-gray {
    background-color: #25274d;
    border: 0 solid #25274d;
}

.lead.fs-25.lh-sm.mb-7.px-md-10.px-lg-0 {
    color: #1afe49;
    font-weight: 600;
}

.c6421 {
    width: 75px;
    height: 75px;
    float: right;
}

.htmlpage-row {
    display: table;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

.htmlpage-cell {
    width: 8%;
    display: table-cell;
    height: 75px;
}

.c13392 {
    padding: 10px;
    font-size: 32px;
    float: left;
    font-weight: 700;
}

.navbar.navbar-expand-lg.fancy.navbar-light.navbar-bg-light.transparent.navbar-clone.fixed {
    background-color: #ffffff;
}

.wrapper {
    background-color: #3d43b4;
}

.bg {
    background-color: #041348;
}

.col-lg-6.offset-lg-1.col-xxl-5.text-center.text-lg-start {
    width: 1000px;
    position: relative;
    text-align: left;
}

.body {
    background-color: #041348;
}

.c18477 {
    padding: 10px;
    color: #ffffff;
}

.col-md-8.col-lg-5.d-flex.position-relative.mx-auto {
    width: 500px;
}

.body1 {
    background-color: #8386f5;
}

.c32003 {
    color: black;
    width: 326px;
    height: 326px;
    position: relative;
    border-radius: 250px 180px 250px 180px;
}

.c32237 {
    padding: 10px;
    text-align: right;
    color: #3d43b4;
    position: relative;
    font-size: 50px;
    font-family: Georgia, serif;
}

.c32308 {
    color: #ffffff;
    font-weight: 700;
}

.c22214 {
    position: relative;
    width: 3123.6px;
    en: 1;
}

.progress-list .progressbar.line {
    height: 8px;
    background-color: rgb(244, 244, 244);
}

.row.gy-10.gy-sm-13.gx-lg-3.align-items-center {
    color: #1afe49;
}

.fdb-block {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    padding-top: 100px;
    padding-right: 0px;
    padding-bottom: 100px;
    padding-left: 0px;
    color: rgb(68, 68, 68);
    position: relative;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-color: rgb(255, 255, 255);
}

.text-center {
    text-align: center;
}

.fdb-block .text-h1, .fdb-block h1 {
    font-size: 1.75rem;
    margin-bottom: 0.5em;
    margin-top: 0.3em;
    font-weight: 400;
}

.img-fluid {
    max-width: 100%;
    height: 236.453px;
    width: 248px;
}

.fdb-block .text-h3, .fdb-block h3 {
    font-size: 0.875rem;
    margin-bottom: 0.5em;
    margin-top: 0.3em;
    font-weight: 400;
}

.mt-5 {
    margin-top: 3rem !important;
}

.fdb-block img + h3, .fdb-block img + h4, .fdb-block img + p {
    margin-top: 20px;
}

a {
    color: rgb(0, 123, 255);
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    background-color: transparent;
}

a:hover {
    color: rgb(0, 86, 179);
    text-decoration-line: underline;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

.c54889 {
    color: black;
    width: 546px;
    float: right;
}

.c55070 {
    height: 392px;
    width: 689px;
}

.c55255 {
    padding: 10px;
}

.c55579 {
    width: 412.8px;
    en: 1;
}

.c55669 {
    height: 95px;
    en: 1;
    color: #ffffff;
}

@media (max-width: 768px) {
    .htmlpage-cell {
        width: 100%;
        display: block;
    }
}